body{
	background-color: #1C1C1C;
}

h1{
	color: #FFFFFF;
	font-family: "Heebo", sans-serif;
}

.message-board{
	background-color: #0D0D0D;
	padding: 20px;
	width: 50%;
	border: solid #FFFFFF 3px;
	margin-left: 25%;
}

.message-board h1 {
	color: #FFFFFF;
	font-family: "PT Sans", sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 10px;
	text-align: center;
}

.message-board h2 {
	color: #FFFFFF;
	font-family: "PT Sans", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 10px;
	text-align: center;
}

.message-board h3 {
	color: #FFFFFF;
	font-family: "PT Sans", sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: left;
}
